body {
   background-color: rgb(203, 211, 244);
  margin: 0;
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom {
background-color: rgb(176, 63, 199);
border: none;
border-radius: 6px;
color: white;
padding: 3px 10px;
}


.clear {
   color: white;
   background-color: rgb(190, 32, 79);
   border-radius: 6px;
}

input {
   border: 1px solid black;
   border-radius: 5px;
   text-indent: 6px;
}



.spinning-image {
   width: 100px;
   height: 100px;
   margin-top: 10px;
   cursor: pointer;
}

.spinning-percentile {
   width: 75px;
   height: 75px;
   margin-top: 10px;
   cursor: pointer;
   ;
}

@media (max-width: 576px) {
   .spinning-image {
       max-width: 75px;
   }
}

@media (max-width: 576px) {
   .spinning-percentile {
       max-width: 55px;
   }
}

.spinning-percentile.spin-clockwise {
   animation: spin-clockwise 1s ease-out forwards;
 }
.spinning-percentile.spin-counterclockwise {
   animation: spin-counterclockwise 1s ease-out forwards;
 }


.spinning-image.spin {
   animation: spin 1s ease-out forwards;
 }
 
 @keyframes spin {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(1090deg);
   }
 }
 
 @keyframes spin-counterclockwise {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(-1090deg);
   }
 }

 @keyframes spin-clockwise {
   0% {
     transform: rotate(0deg);
   }
   100% {
     transform: rotate(1090deg);
   }
 }