body {
   background-color: rgb(203, 211, 244);
  margin: 0;
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
background-color: rgb(176, 63, 199);
border: none;
border-radius: 8px;
color: white;
}

.custom {
   color: white;
}

.clear {
   background-color: rgb(190, 32, 79);
}

input {
   border: 1px solid black;
   border-radius: 5px;
   text-indent: 6px;
}

.spin-button {
   background-color: #007bff;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 4px;
   cursor: pointer;
}

.spinning-image {
   width: 100px;
   height: 100px;
   margin-top: 10px;
   cursor: pointer;
}

@media (max-width: 576px) {
   .spinning-image {
       max-width: 75px;
   }
}

.spin {
   animation: spin 1s linear infinite;
}

@keyframes spin {
   100% {
      transform: rotate(360deg);
   }
}


.input-container {
  position: relative;
}

.input-container.focused {
  border: 1px solid #80bdff; /* Highlight the input when focused */
}

.clear-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #ccc;
}

.clear-button:hover {
  color: #777;
}